<kt-portlet>
    <kt-portlet-header [class]="'kt-portlet__head--lg'">
        <ng-container ktPortletTools>
            <!-- <a [routerLink]="['../../']" class="btn btn-secondary kt-margin-r-10" mat-raised-button
                                    matTooltip="Back">
                                    <i class="la la-arrow-left"></i>
                                    <span class="kt-hidden-mobile">Back</span>
                                </a> -->
            <a href="javascript:;" class="btn btn-secondary kt-margin-r-10" mat-raised-button
                matTooltip="Reset changes">
                <i class="la la-cog"></i>
                <span class="kt-hidden-mobile">Reset</span>
            </a>
            <a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" mat-raised-button
                (click)="onsubmit()" matTooltip="Save & Continue">
                <span class="kt-hidden-mobile">Save</span>
            </a>
            <button mat-icon-button [matMenuTriggerFor]="menu" color="primary">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item color="primary" (click)="onsubmit()">Save</button>
                <!-- <button mat-menu-item color="primary">Save & Duplicate</button>
                <button mat-menu-item color="primary">Save & Continue</button> -->
            </mat-menu>
        </ng-container>
    </kt-portlet-header>

    <kt-portlet-body>

        <div>
            <form [formGroup]="leadForm" autocomplete="off" class="kt-form kt-form--group-seperator-dashed">
                <!-- <kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000"
                    (close)="onAlertClose($event)">
                    Oh snap! Change a few things up and try submitting again.
                </kt-alert> -->
                <mat-radio-group>
                    <mat-radio-button value="B2B" (change)="onuser($event)" [checked]="true">B2B
                    </mat-radio-button>
                    <mat-radio-button value="B2C" (change)="onuser($event)">B2C</mat-radio-button>
                </mat-radio-group>
                <div class="kt-form__section kt-form__section--first">
                    <div class="form-group kt-form__group row">
                        <div class="col-lg-3 kt-margin-bottom-20-mobile" *ngIf="!display">
                            <mat-form-field class="mat-form-field-fluid">
                                <input type="text" placeholder="User" aria-label="User" matInput
                                    (keyup)="OnsearchUser($event)" [(ngModel)]="customer" formControlName="customer"
                                    [matAutocomplete]="auto">
                                <mat-error *ngIf="isControlHasError('customer','required')">Name is
                                    <strong>required</strong>
                                </mat-error>
                                <mat-hint align="start">Please selelect
                                    <strong>Name</strong>
                                </mat-hint>
                                <mat-autocomplete #auto="matAutocomplete">
                                    <mat-option *ngFor="let option of filteredOptions" [value]="option.name"
                                        (onSelectionChange)="onUserselect(option)">
                                        {{ option.name }}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-3 kt-margin-bottom-20-mobile" *ngIf="!display">
                            <mat-form-field class="mat-form-field-fluid">
                                <input formControlName="title" matInput placeholder="Enter Title" />
                                <mat-error *ngIf="isControlHasError('title','required')"> Title is
                                    <strong>required</strong>
                                </mat-error>
                                <mat-hint align="start">Please enter
                                    <strong>Title</strong>
                                </mat-hint>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-3 kt-margin-bottom-20-mobile" *ngIf="display">
                            <mat-form-field class="mat-form-field-fluid">
                                <input formControlName="customername" matInput placeholder="Enter Customer Name" />
                                <mat-error *ngIf="isControlHasError('customername','required')">
                                    Customer Name is
                                    <strong>required</strong>
                                </mat-error>
                                <mat-hint align="start">Please enter
                                    <strong>Customer Name</strong>
                                </mat-hint>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-3 kt-margin-bottom-20-mobile" *ngIf="display">
                            <mat-form-field class="mat-form-field-fluid">
                                <input formControlName="email" matInput (keyup)="checkValid()"
                                    placeholder="Enter Email" />
                                <mat-error *ngIf="isControlHasError('email','required')"> Email is
                                    <strong>required</strong>
                                </mat-error>
                                <mat-error *ngIf="isControlHasError('email','email')"> Email is
                                    <strong>invalid</strong>
                                </mat-error>
                                <mat-hint align="start">Please enter
                                    <strong>Email</strong>
                                </mat-hint>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-3 kt-margin-bottom-20-mobile" *ngIf="display">
                            <mat-form-field class="mat-form-field-fluid">
                                <input formControlName="mobile" (keyup)="checkValid()" matInput
                                    placeholder="Enter Mobile No" />
                                <mat-error *ngIf="isControlHasError('mobile','required')"> Mobile No is
                                    <strong>required</strong>
                                </mat-error>
                                <mat-error *ngIf="isControlHasError('mobile','pattern')"> Mobile No is
                                    <strong>invalid</strong>
                                </mat-error>
                                <mat-hint align="start">Please enter
                                    <strong>Mobile No</strong>
                                </mat-hint>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-3 kt-margin-bottom-20-mobile">
                            <mat-form-field class="mat-form-field-fluid">
                                <input matInput (click)="onShow()" [(ngModel)]="Totalguest"
                                    placeholder="Enter Adult, Child" formControlName="traveller" />
                                <mat-error *ngIf="isControlHasError('traveller','required')"> Please
                                    enter
                                    <strong>Traveller</strong>
                                </mat-error>
                                <mat-hint align="start">Please enter
                                    <strong>Traveller</strong>
                                </mat-hint>
                            </mat-form-field>
                            <div class="panel-dropdown" (mouseover)="onMouseover(true)" (mouseout)="onMouseover(false)">
                                <div
                                    [ngClass]="show===true ? 'panel-dropdown-content-active' : 'panel-dropdown-content'">
                                    <div class="qtyButtons tours">
                                        <label>Adults</label>
                                        <div class="qtyDec tours" (click)="remove('ad')">-</div>
                                        <input type="text" formControlName="adult" [(ngModel)]="pax.Adult"
                                            name="qtyInput_tours">
                                        <div class="qtyInc tours" (click)="add('ad')">+</div>
                                    </div>
                                    <div class="qtyButtons tours">
                                        <label>Childrens</label>
                                        <div class="qtyDec tours" (click)="remove('ch')">-</div>
                                        <input type="text" formControlName="child" [(ngModel)]="pax.Child"
                                            name="qtyInput_tours" value="0">
                                        <div class="qtyInc tours" (click)="add('ch')">+</div>
                                    </div>
                                    <div class="qtyButtons tours">
                                        <label>Infants</label>
                                        <div class="qtyDec tours" (click)="remove('in')">-</div>
                                        <input type="text" formControlName="infant" [(ngModel)]="pax.Infant"
                                            name="qtyInput_tours" value="0">
                                        <div class="qtyInc tours" (click)="add('in')">+</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group kt-form__group row">
                        <div class="col-lg-3 kt-margin-bottom-20-mobile">
                            <mat-form-field class="mat-form-field-fluid">
                                <mat-select placeholder="Nationality" formControlName="nationality"
                                    (ngModelChange)="onnationality($event)">
                                    <mat-option>Select Nationality</mat-option>
                                    <mat-option [value]="country.Country" *ngFor="let country of Nationality">
                                        {{country.Countryname}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="isControlHasError('nationality','required')"> Please select
                                    <strong>Nationality</strong>
                                </mat-error>
                                <mat-hint align="start">Please select
                                    <strong>Nationality</strong>
                                </mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-2 kt-margin-bottom-20-mobile">
                            <mat-form-field class="mat-form-field-fluid">
                                <mat-select placeholder="Currency" [(ngModel)]="DefaultCurrency"
                                    formControlName="currency">
                                    <mat-option>Select Currency</mat-option>
                                    <mat-option [value]="currency.Currency" *ngFor="let currency of arrCurrency">
                                        {{currency.Currency}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="isControlHasError('currency','required')"> Please select
                                    <strong>Currency</strong>
                                </mat-error>
                                <mat-hint align="start">Please select
                                    <strong>Currency</strong>
                                </mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-3 kt-margin-bottom-20-mobile">
                            <mat-form-field class="mat-form-field-fluid">
                                <input matInput placeholder="Purpose Of Visit" formControlName="puspose">
                                <mat-hint align="start">Please enter
                                    <strong>Purpose</strong>
                                </mat-hint>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-2 kt-margin-bottom-20-mobile">
                            <mat-form-field class="mat-form-field-fluid">
                                <mat-select placeholder="Source" [(ngModel)]="lead.Source" formControlName="source">
                                    <mat-option>Select Source</mat-option>
                                    <mat-option value="Email">Email</mat-option>
                                    <mat-option value="Mobile">Mobile</mat-option>
                                    <mat-option value="WhatsApp">WhatsApp</mat-option>
                                    <mat-option value="Other">Other</mat-option>
                                </mat-select>
                                <mat-hint align="start">Please select
                                    <strong>Source</strong>
                                </mat-hint>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-2 kt-margin-bottom-20-mobile">
                            <mat-form-field class="mat-form-field-fluid">
                                <mat-select placeholder="Assigned To" formControlName="assign">
                                    <mat-option>None</mat-option>
                                    <mat-option [value]="staff.id" *ngFor="let staff of staff">
                                        {{staff.value}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="isControlHasError('assign','required')">Please select
                                    <strong>Assigned</strong>
                                </mat-error>
                                <mat-hint align="start">Please select
                                    <strong>Assigned</strong>
                                </mat-hint>
                            </mat-form-field>
                        </div>
                    </div>


                    <div class="form-group kt-form__group row">
                        <div class="col-lg-8" formArrayName="d_list">
                            <div class="row" [formGroupName]="i"
                                *ngFor="let d of Destination; let first=first; let last=last; let i=index">
                                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                    <angular2-multiselect [data]="itemList" [settings]="settings"
                                        formControlName="destination" [(ngModel)]="d.selectedItems"
                                        (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
                                        (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
                                        <c-search>
                                            <ng-template>
                                                <input type="text" (keyup)="onSearch($event)"
                                                    placeholder="Search Destinations"
                                                    style="border: none;width: 100%; height: 100%;outline: none;" />
                                            </ng-template>
                                        </c-search>
                                        <c-item>
                                            <ng-template let-item="item">
                                                <label style="color: #333;width: auto;">{{item.value}}</label>
                                            </ng-template>
                                        </c-item>
                                    </angular2-multiselect>
                                    <mat-error style="font-size: 75%;"
                                        *ngIf="getFormGroup(i).controls['destination'].hasError('required')">
                                        Please
                                        enter
                                        <strong>Destination</strong>
                                    </mat-error>
                                    <span class="destination-hint" align="start">Please enter
                                        <strong>Destination</strong>
                                    </span>
                                </div>
                                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                    <mat-form-field class="mat-form-field-fluid">
                                        <input type="text" matInput name="daterangeInput" daterangepicker
                                            [(ngModel)]="d.Date" placeholder="Date" [options]="d.option"
                                            (selected)="selectedDate($event, i)" formControlName="date" />
                                        <mat-error *ngIf="getFormGroup(i).controls['date'].hasError('required')">
                                            Please select
                                            <strong>Date</strong>
                                        </mat-error>
                                        <mat-hint align="start">Please select
                                            <strong>Date</strong>
                                        </mat-hint>
                                    </mat-form-field>
                                </div>

                                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                    <div class="button-row">
                                        <button mat-button color="primary" *ngIf="last"
                                            (click)="onPushDestination()">Add
                                            destination</button>
                                        <button mat-button color="warn" *ngIf="Destination.length>1"
                                            (click)="onRemove(i)">Remove</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="col-lg-12 kt-margin-bottom-20-mobile">
                                <mat-form-field class="mat-form-field-fluid">
                                    <textarea matInput placeholder="Enter Query" formControlName="query"></textarea>
                                    <mat-hint align="start">Please enter
                                        <strong>Query</strong>
                                    </mat-hint>
                                </mat-form-field>
                            </div>
                        </div>

                    </div>

                </div>
            </form>
        </div>
    </kt-portlet-body>
</kt-portlet>