.panel-dropdown {
    position: relative;
    text-align: left;
    padding: 15px 10px 0 15px;
}

.panel-dropdown .panel-dropdown-content {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    position: absolute;
    top: -10px;
    left: 0px;
    z-index: 99;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 12px 35px 2px rgba(0, 0, 0, 0.12);
    padding: 15px 15px 0 15px;
    white-space: normal;
    width: 280px;
}

.panel-dropdown .panel-dropdown-content-active {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s;
    position: absolute;
    top: -10px;
    left: 0px;
    z-index: 99;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 12px 35px 2px rgba(0, 0, 0, 0.12);
    padding: 15px 15px 0 15px;
    white-space: normal;
    width: 280px;
}

.qtyButtons {
    display: flex;
    margin: 0 0 13px 0;
}

.qtyButtons label {
    font-weight: 500;
    line-height: 36px;
    padding-right: 15px;
    display: block;
    flex: 1;
    color: rgba(0, 0, 0, 0.54);
}

.qtyInc, .qtyDec {
    width: 36px;
    height: 36px;
    line-height: 36px;
    font-size: 18px;
    background-color: #f2f2f2;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.54);
    color: rgba(0, 0, 0, 0.54);
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    font-family: 'ElegantIcons';
}


.qtyButtons input {
    outline: 0;
    font-size: 16px;
    font-size: 1rem;
    text-align: center;
    width: 50px;
    height: 36px !important;
    color: rgba(0, 0, 0, 0.54);
    line-height: 36px;
    margin: 0 !important;
    padding: 0 5px !important;
    border: none;
    box-shadow: none;
    pointer-events: none;
    display: inline-block;
    border: none !important;
}


.panel-dropdown a {
    color: #727b82;
    font-weight: 500;
    transition: all 0.3s;
    display: block;
    position: relative;
}

.qtyTotal {
    background-color: #66676b;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 11px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    line-height: 18px;
    text-align: center;
    position: relative;
    top: 0;
    left: 2px;
    height: 18px;
    width: 18px;
}

.panel-dropdown .panel-dropdown-content:after {
    bottom: 100%;
    left: 15px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 7px;
    margin-left: -7px;
}

.panel-dropdown .panel-dropdown-content-active:after {
    bottom: 100%;
    left: 15px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 7px;
    margin-left: -7px;
}

// :host ::ng-deep .dropdown-down {
//     border-top: 5px solid rgba(0, 0, 0, 0.54) !important;
//     border-left: 5px solid transparent !important;
//     border-right: 5px solid transparent !important;
// }

// :host ::ng-deep .dropdown-up {
//     display: inline-block;
//     width: 0;
//     height: 0;
//     border-bottom: 5px solid rgba(0, 0, 0, 0.54) !important;
//     border-left: 5px solid transparent !important;
//     border-right: 5px solid transparent !important;
// }

// :host ::ng-deep .dropdown-btn{
//   border: none !important;
//   border-bottom: 1px solid rgba(216, 220, 230, 0.42) !important;
//   border-radius: 0px !important;
// }

// :host ::ng-deep .selected-item {
//     border: 1px solid #5d78ff !important;
//     background: #5d78ff !important;
//   }

//   :host ::ng-deep .multiselect-item-checkbox input[type=checkbox] + div:before {
//     color: #5d78ff !important;
//     border: 2px solid #5d78ff !important;
//   }

//   :host ::ng-deep .multiselect-item-checkbox input[type=checkbox]:checked + div:before {
//     background: #5d78ff !important;
//   }

:host ::ng-deep .pure-checkbox input[type=checkbox]+label:before {
    color: transparent!important;
    border: 0 solid #5d78ff;
}

:host ::ng-deep .pure-checkbox input[type=checkbox]+label:before {
    box-sizing: content-box;
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 15px;
    height: 15px;
    margin-top: -9px;
    text-align: center;
    transition: all .4s ease;
    border-radius: 3px;
}

:host ::ng-deep .pure-checkbox input[type=checkbox]:checked+label:before {
    background: 0 0!important;
    color: transparent!important;
    border: 0 solid #6b6c72;
}

:host ::ng-deep .selected-list .c-list .c-token {
    background: #5d78ff;
}

:host ::ng-deep .selected-list .c-list .c-token .c-label {
    color: #fff;
}

:host ::ng-deep .pure-checkbox input[type=checkbox]:checked+label:after {
    content: '';
    transition: -webkit-transform .2s ease-out;
    transition: transform .2s ease-out;
    transition: transform .2s ease-out,-webkit-transform .2s ease-out;
    -webkit-transform: rotate(-45deg) scale(1);
    transform: rotate(-45deg) scale(1);
}

:host ::ng-deep .pure-checkbox input[type=checkbox]+label:after {
    background-color: transparent!important;
    border-color: #0079fe;
}

:host ::ng-deep .c-btn {
    background: #fff;
    border: none;
    border-bottom: 1px solid rgba(216, 220, 230, 0.42);
}

:host ::ng-deep .c-btn {
    display: inline-block;
    border-width: 1px;
    line-height: 1.25;
    border-radius: 0px;
    font-size: .85rem;
    padding: 5px 10px;
    cursor: pointer;
    align-items: center;
    min-height: 36px;
}

:host ::ng-deep .selected-list .c-btn {
    width: 100%;
    padding: 5px 10px;
    cursor: pointer;
    display: flex;
    position: relative;
}

:host ::ng-deep .list-message {
    text-align: center;
    margin: 0;
    padding: 15px 0;
    font-size: inherit;
}

.destination-hint{
    color: rgba(0, 0, 0, 0.54) !important;
    font-size: 75%;
}

.example-button-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

:host ::ng-deep .mat-button-wrapper{
    font-size: 13px;
    font-weight: 400;
}  