<div class="button-row">
    <a [routerLink]="['/lead-management/hotel']" mat-raised-button color="primary">Hotel</a>&nbsp;
    <a [routerLink]="['/lead-management/sightseeing']" mat-raised-button>Sightseeing</a>&nbsp;
    <a [routerLink]="['/lead-management/transfers']" mat-raised-button color="accent">Transfers</a>&nbsp;
    <a [routerLink]="['/lead-management/restaurants']" mat-raised-button color="warn">Restaurants</a>&nbsp;
    <a href="javascript:;" mat-raised-button color="warn">Other</a>
</div>
<br>
<kt-portlet>
    <mat-progress-bar mode="indeterminate" *ngIf="bloder==true"></mat-progress-bar> 
    <kt-portlet-header [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'">
       
        <ng-container ktPortletTools>
            <mat-radio-group>
                <mat-radio-button value="0"  [checked]="true">ALL</mat-radio-button>
                <mat-radio-button value="1">Ticket</mat-radio-button>
                <mat-radio-button value="2">SIC</mat-radio-button>
                <mat-radio-button value="3">PVT</mat-radio-button>
            </mat-radio-group>
            <mat-chip-list>
                <mat-chip class="cursor" (click)="_skipSightseeing()">Skip</mat-chip>
            </mat-chip-list>
        </ng-container>

    </kt-portlet-header>

    <kt-portlet-body>
        <div>
            <div class="kt-form kt-form--group-seperator-dashed">
                
                <!-- <kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000"
                    (close)="onAlertClose($event)">
                    Oh snap! Change a few things up and try submitting again.
                </kt-alert> -->
                <div class="kt-form__section kt-form__section--first">
                    <!-- <div class="form-group kt-form__group row">

                        <div class="col-lg-5 col-sm-5 kt-margin-bottom-20-mobile">
                            <mat-form-field class="mat-form-field-fluid ">
                                <input matInput placeholder="Select Sightseeing" [matAutocomplete]="auto"
                                    (keyup)="getTours($event)" />
                                <mat-autocomplete #auto="matAutocomplete">
                                    <mat-option *ngFor="let Tour of arrSightseeing" [value]="Tour.Name">
                                        {{ Tour.Name }}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-2 col-4 kt-margin-bottom-20-mobile">
                            <mat-form-field class="mat-form-field-fluid">
                                <mat-select placeholder="Select Theme">
                                    <mat-option>Select Option</mat-option>
                                    <mat-option value="1">Ticket Only</mat-option>
                                    <mat-option value="2">SIC</mat-option>
                                    <mat-option value="2">PVT</mat-option>
                                </mat-select>

                            </mat-form-field>
                        </div>

                        <div class="col-lg-2 col-4 kt-margin-bottom-20-mobile">
                            <mat-form-field class="mat-form-field-fluid">
                                <mat-select placeholder="Select Theme">
                                    <mat-option>Select Meal</mat-option>
                                    <mat-option value="1">Adventure</mat-option>
                                    <mat-option value="2">Theme Park</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-3 col-4 kt-margin-bottom-20-mobile">
                            <button mat-raised-button color="primary" (click)="search()">Search
                            </button>
                        </div>
                    </div> -->

                  

                    <div class="form-group kt-form__group row" *ngFor="let Tour of arrTours; let i = index" style="font-size: 12px;padding-top: 0px !important;padding-bottom: 0px !important;">
                        <div class="col-md-3  kt-margin-bottom-20-mobile">
                            <mat-form-field class="example-full-width">
                                <input matInput [value]="Tour.Name" readonly>
                            </mat-form-field>
                           
                        </div>
                        <div class="col-md-4  kt-margin-bottom-20-mobile">
                            <div class="row">
                                <div class="col-md-4 col-4  kt-margin-bottom-20-mobile">
                                    <mat-form-field class="mat-form-field-fluid">
                                    <mat-select (ngModelChange)="_getSlotRate(Tour.ID)"
                                        [(ngModel)]="Tour.selRateType">
                                        <mat-option [value]="Ticket.Type"
                                            *ngFor="let Ticket of Tour.arrTicket">{{Ticket.Type}}
                                        </mat-option>
                                    </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4 col-4  kt-margin-bottom-20-mobile">
                                    <mat-form-field class="mat-form-field-fluid">
                                    <mat-select (ngModelChange)="_getSlotRate(Tour.ID)"
                                        [(ngModel)]="Tour.selSlot">
                                        <mat-option [value]="Slot.ID" *ngFor="let Slot of Tour.arrSlot">
                                            {{ Slot.SlotsStartTime }}</mat-option>
                                    </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4 col-4   kt-margin-bottom-20-mobile ">
                                    <mat-form-field class="mat-form-field-fluid">
                                    <mat-select (ngModelChange)="_getTicketBySlot(Tour.ID)"
                                        [(ngModel)]="Tour.selTicket">
                                        <mat-option [value]="Rate.Ticket"
                                            *ngFor="let Rate of Tour.arrSelRates">
                                            {{ Rate.Ticket }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-4  kt-margin-bottom-20-mobile" style="padding-top: 14px;">
                            <span *ngFor="let Pax of Tour.selectedTicket.arrayPax" (click)="onShow(Tour.ID)" style="text-align: center;">
                                <mat-icon *ngIf="Pax.Pax_Type=='adult'" [matBadge]="Tour.selectedTicket.Adult" matBadgePosition="before"  matBadgeColor="red"  matBadgeSize="small">
                                    person
                                  </mat-icon>
                                  <mat-icon *ngIf="Pax.Pax_Type=='child1'" [matBadge]="Tour.selectedTicket.Child1" matBadgePosition="before"  matBadgeColor="red"  matBadgeSize="small">
                                    face
                                  </mat-icon>
                                  <mat-icon *ngIf="Pax.Pax_Type=='infant'" [matBadge]="Tour.selectedTicket.Infant" matBadgePosition="before"  matBadgeColor="red"  matBadgeSize="small">
                                    child_friendly
                                  </mat-icon>
                            </span>
                            <div class="panel-dropdown" (mouseover)="onMouseover(true,Tour.ID)" (mouseout)="onMouseover(false,Tour.ID)">
                                <div [ngClass]="Tour.show===true ? 'panel-dropdown-content-active' : 'panel-dropdown-content'">
                                    <div class="qtyButtons tours" *ngFor="let Pax of Tour.selectedTicket.arrayPax">
                                        <label *ngIf="Pax.Pax_Type=='adult'">Adults</label>
                                        <label *ngIf="Pax.Pax_Type=='child1'">Child <small> ({{Pax.Age}}) </small> </label>
                                        <label *ngIf="Pax.Pax_Type=='child2'">Child <small> ({{Pax.Age}}) </small></label>
                                        <label *ngIf="Pax.Pax_Type=='infant'">Infant</label>
                                      
                                        <div class="qtyDec tours" (click)="removePax(Pax.Pax_Type,Tour.ID)" >-</div>
                                        <input type="text" name="qtyInput_tours" [(ngModel)]="Pax.Count" >
                                        <div class="qtyInc tours" (click)="addPax(Pax.Pax_Type,Tour.ID)">+</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-8  kt-margin-bottom-20-mobile">
                            <div class="row">
                               
                                <div class="col-md-8 col-6  kt-margin-bottom-20-mobile">
                                    <mat-form-field class="example-full-width">
                                      <input matInput  
                                        style="font-size: small;width: 150px !important;"
                                        [value]="Tour.Price" readonly>
                                    </mat-form-field>
                                </div>
                                
                                <div class="col-md-2 col-1  kt-margin-bottom-20-mobile">
                                    <mat-checkbox style="margin-top: 13px;" [checked]="Tour.bselected"   (change)="_add($event,Tour.ID)"></mat-checkbox>
                                </div>
                            </div>
                        </div>
                        <mat-divider></mat-divider>
                    </div>
                </div>
            </div>
        </div>
    </kt-portlet-body>
</kt-portlet>
