.panel-dropdown {
    position: relative;
    text-align: left;
    padding: 15px 10px 0 15px;
}

.panel-dropdown .panel-dropdown-content {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    position: absolute;
    top: -10px;
    left: 0px;
    z-index: 99;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 12px 35px 2px rgba(0, 0, 0, 0.12);
    padding: 15px 15px 0 15px;
    white-space: normal;
    width: 280px;
}

.panel-dropdown .panel-dropdown-content-active {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s;
    position: absolute;
    top: -10px;
    left: 0px;
    z-index: 99;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 12px 35px 2px rgba(0, 0, 0, 0.12);
    padding: 15px 15px 0 15px;
    white-space: normal;
    width: 280px;
}

.qtyButtons {
    display: flex;
    margin: 0 0 13px 0;
}

.qtyButtons label {
    font-weight: 500;
    line-height: 36px;
    padding-right: 15px;
    display: block;
    flex: 1;
    color: rgba(0, 0, 0, 0.54);
}

.qtyInc, .qtyDec {
    width: 36px;
    height: 36px;
    line-height: 36px;
    font-size: 18px;
    background-color: #f2f2f2;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.54);
    color: rgba(0, 0, 0, 0.54);
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    font-family: 'ElegantIcons';
}


.qtyButtons input {
    outline: 0;
    font-size: 16px;
    font-size: 1rem;
    text-align: center;
    width: 50px;
    height: 36px !important;
    color: rgba(0, 0, 0, 0.54);
    line-height: 36px;
    margin: 0 !important;
    padding: 0 5px !important;
    border: none;
    box-shadow: none;
    pointer-events: none;
    display: inline-block;
    border: none !important;
}


.panel-dropdown a {
    color: #727b82;
    font-weight: 500;
    transition: all 0.3s;
    display: block;
    position: relative;
}

.qtyTotal {
    background-color: #66676b;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 11px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    line-height: 18px;
    text-align: center;
    position: relative;
    top: 0;
    left: 2px;
    height: 18px;
    width: 18px;
}

.panel-dropdown .panel-dropdown-content:after {
    bottom: 100%;
    left: 15px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 7px;
    margin-left: -7px;
}

.panel-dropdown .panel-dropdown-content-active:after {
    bottom: 100%;
    left: 15px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 7px;
    margin-left: -7px;
}