<div class="button-row">
    <a [routerLink]="['/lead-management/hotel']" mat-raised-button color="primary">Hotel</a>&nbsp;
    <a [routerLink]="['/lead-management/sightseeing']" mat-raised-button  color="primary">Sightseeing</a>&nbsp;
    <a [routerLink]="['/lead-management/transfers']" mat-raised-button color="accent">Transfers</a>&nbsp;
    <a [routerLink]="['/lead-management/restaurants']" mat-raised-button>Restaurants</a>&nbsp;
    <a href="javascript:;" mat-raised-button color="warn">Other</a>
</div>
<br>
<kt-portlet>
    <mat-progress-bar mode="indeterminate" *ngIf="bloder==true"></mat-progress-bar> 
    <kt-portlet-header [title]="getComponentTitle()"   [class]="'kt-portlet__head--lg'">
       
    </kt-portlet-header>

    <kt-portlet-body>
        <div class="form-group kt-form__group row"   style="font-size: 12px;padding-top: 0px !important;padding-bottom: 0px !important;" *ngIf="arrList.length  != 0">
            <div class="col-md-3  kt-margin-bottom-20-mobile">
                 <h6 class=" kt-portlet__head-title"> Restaurant</h6>

            </div>
            <div class="col-md-1 col-4  kt-margin-bottom-20-mobile">
                <h6 class=" kt-portlet__head-title">Meal</h6>

            </div>
            <div class="col-md-5 col-4  kt-margin-bottom-20-mobile">
              <div class="row">
                  <div class="col-md-4 ">
                    <h6 class=" kt-portlet__head-title">Adult</h6>
                
                  </div>
                  <div class="col-md-4 col-1">
                    <h6   class=" kt-portlet__head-title">Child</h6>
                  </div>
                  <div class="col-md-4 col-1">
                    <h6   class=" kt-portlet__head-title">Pax</h6>
                  </div>
              </div>
            </div>

            <div class="col-md-3 col-8  kt-margin-bottom-20-mobile">
                <div class="row">

                    <div class="col-md-8 col-6  kt-margin-bottom-20-mobile">
                        <h6   class=" kt-portlet__head-title">Total</h6>
                    </div>

                    <div class="col-md-2 col-1  kt-margin-bottom-20-mobile" style="padding-top: 10px;">
                    
                    </div>
                </div>
            </div>
            <mat-divider></mat-divider>
        </div>
            <div class="form-group kt-form__group row" *ngFor="let Rate of arrList | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize; let i = index"
                style="font-size: 12px;padding-top: 0px !important;padding-bottom: 0px !important;">
                <div class="col-md-3  kt-margin-bottom-20-mobile">
                    <mat-form-field class="example-full-width">
                        <input matInput [value]="Rate.arrRate.RestaurantName" readonly>
                        <small *ngIf="Rate.Details.Location == '-'">{{Rate.Details.City}}</small>
                        <small *ngIf="Rate.Details.Location != ''">{{Rate.Details.Location}}</small>
                    </mat-form-field>

                </div>
                <div class="col-md-1 col-4  kt-margin-bottom-20-mobile">
                    <mat-form-field class="example-full-width">
                        <input matInput [value]="Rate.arrRate.Meal" readonly>
                    </mat-form-field>

                </div>
                <div class="col-md-5 col-12  kt-margin-bottom-20-mobile" >
                  <div class="row">
                      <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                            <input matInput style="font-size: small;width: 150px !important;"
                                [value]="Rate.arrRate.Currency + ' ' + Rate.arrRate.Adult" readonly>
                        </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                            <input matInput style="font-size: small;width: 150px !important;"
                                [value]="Rate.arrRate.Currency + ' ' + Rate.arrRate.Child" readonly>
                        </mat-form-field>
                      </div>
                      <div class="col-md-4" style="padding-top: 14px;">
                        <span (click)="onShow(Rate.ID)" style="text-align: center;">
                            <mat-icon  [matBadge]="Rate.Adult" matBadgePosition="before"  matBadgeColor="red"  matBadgeSize="small">
                                person
                              </mat-icon>
                              <mat-icon [matBadge]="Rate.Child" matBadgePosition="before"  matBadgeColor="red"  matBadgeSize="small">
                                face
                              </mat-icon>
                        </span>
                        <div class="panel-dropdown" (mouseover)="onMouseover(true,Rate.ID)" (mouseout)="onMouseover(false,Rate.ID)">
                            <div [ngClass]="Rate.show===true ? 'panel-dropdown-content-active' : 'panel-dropdown-content'">
                                <div class="qtyButtons tours">
                                    <label>Adults</label>
                                    <div class="qtyDec tours" (click)="removePax('ad',Rate.ID)" >-</div>
                                    <input type="text" name="qtyInput_tours" [(ngModel)]="Rate.Adult" >
                                    <div class="qtyInc tours" (click)="addPax('ad',Rate.ID)">+</div>
                                </div>
                                <div class="qtyButtons tours">
                                    <label>Child  </label>
                                    <div class="qtyDec tours" (click)="removePax('ch',Rate.ID)" >-</div>
                                    <input type="text" name="qtyInput_tours" [(ngModel)]="Rate.Child" >
                                    <div class="qtyInc tours" (click)="addPax('ch',Rate.ID)">+</div>
                                </div>
                            </div>
                        </div>
                      </div>
                  </div>
                </div>

                <div class="col-md-3 col-8  kt-margin-bottom-20-mobile">
                    <div class="row">

                        <div class="col-md-8 col-6  kt-margin-bottom-20-mobile"
                            [matTooltip]=" 'Charge: '+ Rate.Currency + ' '  + Rate.charge + ' Parking : ' + Rate.Currency + ' '  + Rate.ParkingCharge ">
                            <mat-form-field class="example-full-width">
                                <input matInput style="font-size: small;width: 150px !important;"
                                    [value]="Rate.arrRate.Currency + ' ' + Rate.Total" readonly>
                            </mat-form-field>
                        </div>

                        <div class="col-md-2 col-1  kt-margin-bottom-20-mobile" style="padding-top: 10px;">
                            <mat-checkbox style="margin-top: 13px;" [checked]="Rate.bselected"
                                (change)="_add($event,Rate.ID)"></mat-checkbox>
                        </div>
                    </div>
                </div>
                <mat-divider></mat-divider>
            </div>
            <div class="kt-section__content" *ngIf="arrList.length  != 0">
          
                  <ngb-pagination [collectionSize]="arrList.length" [(page)]="page" [pageSize]="pageSize" [maxSize]="5"
                  [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
              </div>
    </kt-portlet-body>
</kt-portlet>
