<div class="button-row">
    <a [routerLink]="['/lead-management/hotel']" mat-raised-button color="primary">Hotel</a>&nbsp;
    <a [routerLink]="['/lead-management/sightseeing']" mat-raised-button color="accent">Sightseeing</a>&nbsp;
    <a [routerLink]="['/lead-management/transfers']" mat-raised-button>Transfers</a>&nbsp;
    <a [routerLink]="['/lead-management/restaurants']" mat-raised-button color="warn">Restaurants</a>&nbsp;
    <a href="javascript:;" mat-raised-button color="warn">Other</a>
</div>
<br>
<kt-portlet>
    <kt-portlet-header [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'">

        <ng-container ktPortletTools>
            <mat-radio-group>
                <mat-radio-button value="0" [checked]="true">ALL</mat-radio-button>
                <mat-radio-button value="OW">One Way</mat-radio-button>
                <mat-radio-button value="RW">Round Trip</mat-radio-button>
                <mat-radio-button value="SIC">SIC</mat-radio-button>
            </mat-radio-group>
            <mat-chip-list>
                <mat-chip class="cursor" (click)="_skipSightseeing()">Skip</mat-chip>
            </mat-chip-list>
        </ng-container>

    </kt-portlet-header>

    <kt-portlet-body>
        <div>
            <div class="kt-form kt-form--group-seperator-dashed">
                <div class="btn-group" role="group" aria-label="Carousel toggle controls">
                    <button type="button" class="btn btn-outline-dark btn-sm "
                        [ngClass]="Pickup.selected ? 'active' : ''" *ngFor="let Pickup of PickupPoint"
                        [matTooltip]="Pickup.Value" (click)="_setTrip(Pickup.ID)">
                        <mat-icon>{{  Pickup.tooltip }}</mat-icon>
                    </button>
                </div>
                <!-- <kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000"
                    (close)="onAlertClose($event)">
                    Oh snap! Change a few things up and try submitting again.
                </kt-alert> -->
                <div class="kt-form__section kt-form__section--first">
                    <div class="form-group kt-form__group row">

                        <div class="col-lg-5 col-sm-5 kt-margin-bottom-20-mobile">
                            <mat-form-field class="mat-form-field-fluid ">
                                <input matInput placeholder="Select Pickup Location" [matAutocomplete]="auto"
                                    (keyup)="getLocation($event,'P')" [(ngModel)]="PickupName" />
                                <mat-autocomplete #auto="matAutocomplete">
                                    <mat-option *ngFor="let Pickup of arrPickup" [value]="Pickup.value"
                                        (click)="onselectlocation(Pickup.id,'P')">
                                        {{ Pickup.value }}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-5 col-sm-5 kt-margin-bottom-20-mobile">
                            <mat-form-field class="mat-form-field-fluid ">
                                <input matInput placeholder="Select Drop Location" [(ngModel)]="DropName"
                                    [matAutocomplete]="drop" (keyup)="getLocation($event,'D')" />
                                <mat-autocomplete #drop="matAutocomplete">
                                    <mat-option *ngFor="let Drop of arrDrop" [value]="Drop.value"
                                        (click)="onselectlocation(Drop.id,'D')">
                                        {{ Drop.value }}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>



                        <div class="col-lg-2 col-2 kt-margin-bottom-20-mobile">
                            <button mat-raised-button [class.spinner]="loading" [disabled]="loading" color="primary"
                                (click)="search()">Search
                            </button>
                        </div>
                    </div>

                    <div class="form-group kt-form__group row"   style="font-size: 12px;padding-top: 0px !important;padding-bottom: 0px !important;" *ngIf="arrRates  != undefined && arrRates.length  != 0">
                    <div class="col-md-3  kt-margin-bottom-20-mobile">
                         <h6 class=" kt-portlet__head-title"> Vehicle</h6>

                    </div>
                    <div class="col-md-2 col-4  kt-margin-bottom-20-mobile">
                        <h6 class=" kt-portlet__head-title">Service</h6>

                    </div>
                    <div class="col-md-4 col-4  kt-margin-bottom-20-mobile">
                      <div class="row">
                          <div class="col-md-3 ">
                            <h6 style="float: right;;" class=" kt-portlet__head-title">Capacity</h6>
                        
                          </div>
                          <div class="col-md-3 col-1">
                            <h6   class=" kt-portlet__head-title">Checkin</h6>
                          </div>
                          <div class="col-md-3 col-1">
                            <h6   class=" kt-portlet__head-title">Cabin</h6>
                          </div>
                          <div class="col-md-3 col-1">
                            <h6   class=" kt-portlet__head-title">Note</h6>
                          </div>
                      </div>
                      
                      

                       
                      
                    </div>

                    <div class="col-md-3 col-8  kt-margin-bottom-20-mobile">
                        <div class="row">

                            <div class="col-md-8 col-6  kt-margin-bottom-20-mobile">
                                <h6   class=" kt-portlet__head-title">Rate</h6>
                            </div>

                            <div class="col-md-2 col-1  kt-margin-bottom-20-mobile" style="padding-top: 10px;">
                            
                            </div>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                </div>
                    <div class="form-group kt-form__group row" *ngFor="let Rate of arrRates | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize; let i = index"
                        style="font-size: 12px;padding-top: 0px !important;padding-bottom: 0px !important;">
                        <div class="col-md-3  kt-margin-bottom-20-mobile">
                            <mat-form-field class="example-full-width">
                                <input matInput [value]="Rate.VehicleModle" readonly>
                            </mat-form-field>

                        </div>
                        <div class="col-md-2 col-4  kt-margin-bottom-20-mobile">
                            <mat-form-field class="example-full-width">
                                <input matInput [value]="Rate.ServiceType" readonly>
                            </mat-form-field>

                        </div>
                        <div class="col-md-4 col-12  kt-margin-bottom-20-mobile" style="padding-top: 14px;">
                          <div class="row">
                              <div class="col-md-3">
                                <span style="text-align: center;" matTooltip="Capacity">
                                    <mat-icon [matBadge]="Rate.Details.MaxCapacity" matBadgePosition="before"
                                        matBadgeColor="red" matBadgeSize="small">
                                        accessibility
                                    </mat-icon>
                                </span>
                              </div>
                              <div class="col-md-3">
                                <span style="text-align: center;" matTooltip="Checkin Bags">
                                    <mat-icon [matBadge]="Rate.Details.CheckinBag" matBadgePosition="before"
                                        matBadgeColor="red" matBadgeSize="small">
                                        card_travel
                                    </mat-icon>
                                </span>
                              </div>
                              <div class="col-md-3">
                                <span style="text-align: center;margin-right: 5px;" matTooltip="Cabin Bags">
                                    <mat-icon [matBadge]="Rate.Details.CabinBag" matBadgePosition="before"
                                        matBadgeColor="red" matBadgeSize="small">
                                        redeem
                                    </mat-icon>
                                </span>
                              </div>
                              <div class="col-md-3">
                                <span style="text-align: center;margin-right: 5px;" [matTooltip]="Rate.Note">
                                    <mat-icon>
                                        report
                                    </mat-icon>
                                </span>
                              </div>
                          </div>
                          
                          

                           
                          
                        </div>

                        <div class="col-md-3 col-8  kt-margin-bottom-20-mobile">
                            <div class="row">

                                <div class="col-md-8 col-6  kt-margin-bottom-20-mobile"
                                    [matTooltip]=" 'Charge: '+ Rate.Currency + ' '  + Rate.charge + ' Parking : ' + Rate.Currency + ' '  + Rate.ParkingCharge ">
                                    <mat-form-field class="example-full-width">
                                        <input matInput style="font-size: small;width: 150px !important;"
                                            [value]="Rate.Currency + ' ' + Rate.TotalCharge" readonly>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-2 col-1  kt-margin-bottom-20-mobile" style="padding-top: 10px;">
                                    <mat-checkbox style="margin-top: 13px;" [checked]="Rate.bselected"
                                        (change)="_add($event,Rate.VehicleModle)"></mat-checkbox>
                                </div>
                            </div>
                        </div>
                        <mat-divider></mat-divider>
                    </div>

                    <div class="kt-section__content" *ngIf="arrRates  != undefined && arrRates.length  != 0">
                        <!-- <ngb-pagination [collectionSize]="120" [page]="4" [maxSize]="5" [rotate]="true" [ellipses]="false"
                          [boundaryLinks]="true"></ngb-pagination> -->
                          <ngb-pagination [collectionSize]="arrRates.length" [(page)]="page" [pageSize]="pageSize" [maxSize]="5"
                          [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
                      </div>
                </div>
            </div>
        </div>
    </kt-portlet-body>
</kt-portlet>