<div class="row">
    <div [ngClass]="showright===true ? 'col-xl-8' : 'col-xl-12'">
        <router-outlet></router-outlet>
    </div>
    <div class="col-xl-4" *ngIf="showright">
        <kt-portlet [class]="'kt-portlet--height-fluid'">
 
            <kt-portlet-header [title]="'Quotation Summary'">
            </kt-portlet-header>
            <kt-portlet-body class="summary-panel">
                <mat-progress-bar mode="indeterminate" *ngIf="bloder==true"></mat-progress-bar>
                <mat-accordion  *ngIf="bloder==false">
                    <mat-expansion-panel *ngFor="let location of summary.location; let i=index" [expanded]="step === i"
                        (opened)="setStep(i)">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{location.Name}}
                                
                            </mat-panel-title>
                            <mat-panel-description>
                                
                               
                                <div class="row">
                                    <i class="material-icons service-icon" matTooltip="Hotel" *ngIf="location.Service.length !=0 && location.Service[0].Hotel.length !=0">
                                        hotel
                                    </i>
                                    <i class="material-icons service-icon" matTooltip="Sightseeing" *ngIf="location.Service.length !=0 && location.Service[0].Tour.length !=0">
                                        filter_tilt_shift
                                    </i>
                                    <i class="material-icons service-icon" matTooltip="Transfer" *ngIf="location.Service.length !=0 && location.Service[0].Transfer.length !=0">
                                        directions_car
                                    </i>
                                    <i class="material-icons service-icon" matTooltip="Restaurant" *ngIf="location.Service.length !=0 && location.Service[0].Restaurant.length !=0">
                                        restaurant
                                    </i>
                                </div><br>
                                <div class="row">
                                    <small style="padding-top: 21px;" ><b></b>Total:  {{location.price.toFixed(2)}} </small>
                                </div>
                                
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="kt-widget4" *ngFor="let service of location.Service; let s=index">
                            <div class="kt-widget4__item" *ngFor="let hotel of service.Hotel; let h=index">
                                <div class="kt-widget4__info">
                                    <p class="kt-widget4__text">
                                        <i class="material-icons service-icon" matTooltip="Hotel">
                                            hotel
                                        </i>
                                        <span class="simple-heading"> {{hotel.name}} </span>
                                        <span class="simple-heading" style="float: right;">
                                            AED {{hotel.total}} </span>
                                    </p>
                                    <p class="kt-widget4__text">
                                        <span _ngcontent-sei-c13="">
                                            {{hotel.checkin}} &nbsp;&nbsp;
                                            {{hotel.checkout}}
                                        </span>
                                    </p>
                                    <p class="kt-widget4__text">
                                        <span>
                                            {{hotel.shortinfo}}
                                        </span>
                                    </p>
                                </div>
                            </div>

                            <div class="kt-widget4__item" *ngIf="service.Hotel.length ==0">
                                <div class="kt-widget4__info">
                                    <p class="kt-widget4__text">

                                        <span class="simple-heading"> <i class="material-icons service-icon"
                                                matTooltip="Hotel">
                                                hotel
                                            </i> no hotel selected </span>
                                        <span class="simple-heading" style="float: right;">
                                            <i class="material-icons pointer" matTooltip="Add Hotel">
                                                add
                                            </i>
                                        </span>
                                    </p>

                                </div>
                            </div>

                            <div class="kt-widget4__item" *ngIf="service.Tour.length ==0">
                                <div class="kt-widget4__info">
                                    <p class="kt-widget4__text">

                                        <span class="simple-heading"> <i class="material-icons"
                                                matTooltip="Sightseeing">
                                                filter_tilt_shift
                                            </i> no sightseeing selected </span>
                                        <span class="simple-heading" style="float: right;">
                                            <i class="material-icons pointer" matTooltip="Add Sightseeing">
                                                add
                                            </i>
                                        </span>
                                    </p>

                                </div>
                            </div>

                            <div class="kt-widget4__item" *ngFor="let tour of service.Tour; let h=index">
                                <div class="kt-widget4__info">
                                    <p class="kt-widget4__text">

                                        <span class="simple-heading"> <i class="material-icons"
                                                matTooltip="Sightseeing">
                                                filter_tilt_shift
                                            </i> {{tour.Name}} </span>
                                        <span class="simple-heading" style="float: right;">
                                            {{tour.Total}} </span>
                                    </p>
                                    <p class="kt-widget4__text">
                                        <span _ngcontent-sei-c13="">
                                            {{tour.Date}} &nbsp;&nbsp;
                                        </span>
                                    </p>
                                    <p class="kt-widget4__text">
                                        <span>
                                            {{tour.Shortinfo}}
                                        </span>
                                    </p>
                                </div>
                            </div>

                            <div class="kt-widget4__item" *ngIf="service.Transfer.length ==0">
                                <div class="kt-widget4__info">
                                    <p class="kt-widget4__text">

                                        <span class="simple-heading"> <i class="material-icons service-icon"
                                                matTooltip="Hotel">
                                                directions_car
                                            </i> no transfer  selected </span>
                                        <span class="simple-heading" style="float: right;">
                                            <i class="material-icons pointer" matTooltip="Add Hotel">
                                                add
                                            </i>
                                        </span>
                                    </p>

                                </div>
                            </div>

                            <div class="kt-widget4__item" *ngFor="let transfer of service.Transfer; let h=index">
                                <div class="kt-widget4__info">
                                    <p class="kt-widget4__text">

                                        <span class="simple-heading"> <i class="material-icons"
                                                matTooltip="Transfer">
                                                directions_car
                                            </i> {{transfer.VehicleModle}} <br/>
                                          <small> {{transfer.data.PickupFrom}}  to {{ transfer.data.DropOn}}  </small>   
                                         </span>
                                            <span class="simple-heading" style="float: center;" [matTooltip]="transfer.data.Traveltype.Value">
                                                <mat-icon>{{  transfer.data.Traveltype.tooltip }}</mat-icon>
                                            </span>
                                        <span class="simple-heading" style="float: right;">
                                            {{transfer.Total}} </span>
                                    </p>
                                    <p class="kt-widget4__text">
                                       
                                    </p>
                                     
                                </div>
                            </div>

                            <div class="kt-widget4__item" *ngIf="service.Restaurant.length ==0">
                                <div class="kt-widget4__info">
                                    <p class="kt-widget4__text">

                                        <span class="simple-heading"> <i class="material-icons service-icon"
                                                matTooltip="Restaurant">
                                                restaurant
                                            </i> no restaurant  selected </span>
                                        <span class="simple-heading" style="float: right;">
                                            <i class="material-icons pointer" matTooltip="Add restaurant">
                                                add
                                            </i>
                                        </span>
                                    </p>

                                </div>
                            </div>

                            <div class="kt-widget4__item" *ngFor="let Restaurant of service.Restaurant; let h=index">
                                <div class="kt-widget4__info">
                                    <p class="kt-widget4__text">

                                        <span class="simple-heading"> <i class="material-icons"
                                                matTooltip="Restaurant">
                                                restaurant
                                            </i> {{Restaurant.Name}} ({{ Restaurant.PaxInfo }}) <br/>
                                          <small> {{Restaurant.Location}} </small>   
                                         </span>
                                        <span class="simple-heading" style="float: right;">
                                            {{Restaurant.Total}} </span>
                                    </p>
                                    <p class="kt-widget4__text">
                                       
                                    </p>
                                     
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </kt-portlet-body>

        </kt-portlet>
    </div>
</div>