.summary-panel{
    padding: 0px !important;
}

.service-icon{
    padding: 0 10px 0 10px !important; 
}

.mat-list-icon {
    color: rgba(0, 0, 0, 0.54);
  }

.mat-list-base .mat-list-item{
    color: rgba(0, 0, 0, 0.54);
}

.mat-list-base{
    padding: 0px;
}

:host ::ng-deep .mat-list-base .mat-list-item.mat-list-item-with-avatar, .mat-list-base .mat-list-option.mat-list-item-with-avatar{
    height: 25px !important;
}

:host ::ng-deep .mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content{
    padding: 0 0px;;
}

.simple-heading{
    font-weight: 500;
    font-size: 1rem;
    color: #595d6e;
    transition: color 0.3s ease;
}