<kt-portlet>
	<!-- PORTLET LOADING | Binded to TABLE Datasource -->
	<!-- See prop => '~/core/_crud/models/data-sources/_base.datasource.ts' (loading$) -->
	<kt-portlet-header [title]="'Lead list'" [class]="'kt-portlet__head--lg'" [viewLoading$]="dataSource.loading$">
		<ng-container ktPortletTools>
			<button [routerLink]="['../lead-management/create-lead']" mat-raised-button color="primary" matTooltip="Create new Lead">New Lead</button>
			<!-- Buttons (Material Angular) | See off.documenations 'https://material.angular.io/components/button/overview' -->
			<!-- mat-raised-button | Rectangular contained button w/ elevation  -->
		</ng-container>
	</kt-portlet-header>
	<!-- end::Header -->

	<!-- start::Body (attribute: ktPortletBody) -->
	<kt-portlet-body>
		<!-- start::FILTERS & GROUP ACTIONS -->
	
		<!-- end::FILTERS & GROUP ACTIONS -->

		<!-- MATERIAL TABLE | Binded to datasources -->
		<!-- See off.documentations 'https://material.angular.io/components/table/overview' -->
		<div class="mat-table__wrapper">
            <table mat-table [dataSource]="dataSource" matSort>

                <!-- ID Column -->
                <ng-container matColumnDef="Number">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Number </th>
                  <td mat-cell *matCellDef="let row"> {{row.Qoutation.FileNo}} </td>
                </ng-container>
            
                <!-- Progress Column -->
                <ng-container matColumnDef="Custumer">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Custumer </th>
                  <td mat-cell *matCellDef="let row"> {{row.Agent}}</td>
                </ng-container>
            
                <!-- Name Column -->
                <ng-container matColumnDef="Priority">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Priority </th>
                  <td mat-cell *matCellDef="let row"> 
                      <label *ngIf="row.Priority ==1"> High</label>
                      <label *ngIf="row.Priority ==2"> Medium</label>
                      <label *ngIf="row.Priority ==3"> Low</label>
                    </td>
                </ng-container>
            
                <!-- Color Column -->
                <ng-container matColumnDef="Source">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Source </th>
                  <td mat-cell *matCellDef="let row"> {{row.Qoutation.Source}} </td>
                </ng-container>
                <ng-container matColumnDef="Date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                    <td mat-cell *matCellDef="let row"> {{row.Qoutation.CreateDate}} </td>
                  </ng-container>

                  <ng-container matColumnDef="Destination">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Destination </th>
                    <td mat-cell *matCellDef="let row"><b>{{row.Destination[0].CityName}}</b>  , {{row.Destination[0].Country}}</td>
                  </ng-container>

                  <ng-container matColumnDef="Pax">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Pax Info </th>
                    <td mat-cell *matCellDef="let row"> {{row.PaxDetails.Adult}}  </td>
                  </ng-container>
                  
                  <ng-container matColumnDef="Created">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Created By </th>
                    <td mat-cell *matCellDef="let row"> {{row.CreateBy}} </td>
                  </ng-container>

                  
                
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
              </table>
			<div class="mat-table__message" *ngIf="arrLeads.length ==0">No records found</div><!-- Message for empty data  -->
			<div class="mat-table__message" *ngIf="arrLeads.length ==0">Please wait....</div>
		</div>

		<!-- start: BOTTOM -->
		<div class="mat-table__bottom">
			<!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
		
			<!-- MATERIAL PAGINATOR | Binded to dasources -->
			<!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
			<mat-paginator [pageSize]="10" [pageSizeOptions]="[3, 5, 10]" [length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>
		</div>
		<!-- end: BOTTOM -->
	</kt-portlet-body>
	<!-- end::Body -->
</kt-portlet>
