.font-10{
    font-size: 10px !important;
    font-weight: 600 !important;
}

.margin-bottom{
    margin-bottom: 5px !important;
}

.padding-top{
    padding-top: 5px !important;
}

@media (min-width: 1025px){
  .kt-portlet.kt-portlet--height-fluid {
    height: calc(100%) !important;
}  
}

.cursor{
    cursor: pointer;
}

.kt-portlet .kt-portlet__head{
    min-height: 45px !important;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

::ng-deep .cdk-overlay-pane {
    width: auto !important;
}


@keyframes spinner {
    to {transform: rotate(360deg);}
  }
   
  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner .8s linear infinite;
  }