<kt-portlet>
    <kt-portlet-body>
        <div class="button-row">
            <a [routerLink]="['/lead-management/hotel']" mat-raised-button>Hotel</a>&nbsp;
            <a [routerLink]="['/lead-management/sightseeing']" mat-raised-button color="primary">Sightseeing</a>&nbsp;
            <a [routerLink]="['/lead-management/transfers']" mat-raised-button color="accent">Transfers</a>&nbsp;
            <a [routerLink]="['/lead-management/restaurants']" mat-raised-button color="warn">Restaurants</a>&nbsp;
            <a href="javascript:;" mat-raised-button color="warn">Other</a>
        </div>
    </kt-portlet-body>
</kt-portlet>
<kt-portlet>
    <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
    <kt-portlet-header [title]="title" [class]="'kt-portlet__head--lg'">
        <ng-container ktPortletTools>
            <mat-chip-list>
                <mat-chip class="cursor" (click)="onSkip(l)">Skip</mat-chip>
            </mat-chip-list>
        </ng-container>
    </kt-portlet-header>
    <kt-portlet-body>
        <div>
            <div class="kt-form kt-form--group-seperator-dashed">
                <!-- <kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000"
                    (close)="onAlertClose($event)">
                    Oh snap! Change a few things up and try submitting again.
                </kt-alert> -->
                <div class="kt-form__section kt-form__section--first" *ngFor="let hotel of hotel; let h=index">
                    <div class="form-group kt-form__group row">
                        <div class="col-lg-4 kt-margin-bottom-20-mobile">
                            <mat-form-field class="mat-form-field-fluid">
                                <input matInput placeholder="Select Hotel" [matAutocomplete]="auto"
                                    (keyup)="getHotels($event,l)" />
                                <mat-error> Title is
                                    <strong>Hotel</strong>
                                </mat-error>
                                <mat-hint align="start">Please select
                                    <strong>Hotel</strong>
                                </mat-hint>
                                <mat-autocomplete #auto="matAutocomplete">
                                    <mat-option *ngFor="let hotel of hotelList" [value]="hotel.value"
                                        (onSelectionChange)="onHotelelect(hotel)">
                                        {{ hotel.value }}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-4 kt-margin-bottom-20-mobile">
                            <mat-form-field class="mat-form-field-fluid">
                                <input type="text" matInput name="daterangeInput" daterangepicker [readonly]="true"
                                    placeholder="Date" [options]="option"
                                    (selected)="selectedDate($event, daterange)" />
                                <mat-error> Title is
                                    <strong>Date</strong>
                                </mat-error>
                                <mat-hint align="start">Please enter
                                    <strong>Date</strong>
                                </mat-hint>
                            </mat-form-field>
                        </div>

                        <!-- <div class="col-lg-3 kt-margin-bottom-20-mobile">
                            <mat-form-field class="mat-form-field-fluid">
                                <mat-select placeholder="Select Room" (ngModelChange)="onRoomselect($event, h)"
                                    [(ngModel)]="hotel.room">
                                    <mat-option>Select Room</mat-option>
                                    <mat-option [value]="r" *ngFor=' let r of Trooms'>{{r}}</mat-option>
                                </mat-select>
                                <mat-hint align="start">Please select
                                    <strong>Room</strong>
                                </mat-hint>
                            </mat-form-field>
                        </div> -->

                        <div class="col-lg-4 kt-margin-bottom-20-mobile">
                            <mat-form-field class="mat-form-field-fluid">
                                <mat-select placeholder="Select Meal">
                                    <mat-option>Select Meal</mat-option>
                                    <mat-option value="1">Breakfast</mat-option>
                                    <mat-option value="2">Lunch</mat-option>
                                    <mat-option value="3">Dinner</mat-option>
                                </mat-select>
                                <mat-hint align="start">Please select
                                    <strong>Category</strong>
                                </mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="form-group kt-form__group row margin-bottom padding-top"
                        *ngFor="let room of hotel.Rooms; let first=first; let last=last; let i=index">
                        <div class="col-lg-3">
                            <div class="row">
                                <div class="col-lg-3 kt-margin-bottom-20-mobile" style="padding-left: 0px;">
                                    <br>
                                    <label class="font-10"> Room {{i+1}}</label>
                                </div>
                                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                    <mat-form-field class="mat-form-field-fluid">
                                        <mat-select placeholder="Adult" [(ngModel)]="room.adult"
                                            (ngModelChange)="onAdultelect($event, h, i)">
                                            <mat-option>Select Adult</mat-option>
                                            <mat-option [value]="ad" *ngFor="let ad of adults">
                                                {{ad}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                    <mat-form-field class="mat-form-field-fluid">
                                        <mat-select placeholder="Child" (ngModelChange)="onChildselect($event, h, i)"
                                            [(ngModel)]="room.child">
                                            <mat-option>Select Child</mat-option>
                                            <mat-option [value]="ch" *ngFor="let ch of childs">
                                                {{ch}}
                                            </mat-option>

                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <!-- <div class="col-lg-3 kt-margin-bottom-20-mobile">
                                    <mat-form-field class="mat-form-field-fluid">
                                        <mat-select placeholder="Infant" (ngModelChange)="onInfantselect($event, h, i)"
                                            [(ngModel)]="room.infant">
                                            <mat-option>Select Infant</mat-option>
                                            <mat-option [value]="in" *ngFor="let in of infants">
                                                {{in}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div> -->
                            </div>

                        </div>
                        <div class="col-lg-9">
                            <div class="row">
                                <div class="col-lg-3 kt-margin-bottom-20-mobile">
                                    <mat-form-field class="mat-form-field-fluid">
                                        <input matInput placeholder="Select Room Type" [(ngModel)]="room.RoomType"
                                            [matAutocomplete]="auto" />
                                        <!-- (keyup)="getRoomlist(h, i, $event)"  -->
                                        <mat-autocomplete #auto="matAutocomplete">
                                            <mat-option *ngFor="let array of room.description" [value]="array.Type"
                                                (onSelectionChange)="onroomtypeSelect(h, i, array)">
                                                {{array.Type}}, ({{array.Description}})
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                    <!-- <mat-form-field class="mat-form-field-fluid">
                                        <mat-select placeholder="Room Type"
                                            (selectionChange)="onroomtypeSelect(h, i, $event)">
                                            <mat-option [value]="array" *ngFor="let array of room.description">
                                                {{array.Type}}, ({{array.Description}})
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field> -->
                                </div>
                                <div class="col-lg-1 kt-margin-bottom-20-mobile" style="padding-right: 0px;">
                                    <a href="javascript:;">
                                        <br>
                                        <i class="material-icons" *ngIf="last && !Tguestselected"
                                            (click)="onAddRoom(h)">
                                            add_circle_outline
                                        </i>
                                        <i class="material-icons" (click)="onRemoveRoom(h,i)"
                                            *ngIf="!first || hotel.Rooms.length>1">
                                            remove_circle_outline
                                        </i>
                                    </a>
                                </div>
                                <div class="col-lg-8 kt-margin-bottom-20-mobile"
                                    *ngIf="room.rateAvailable && room.response">
                                    <div class="row">
                                        <div class="col-lg-3 kt-margin-bottom-20-mobile">
                                            <p>
                                                <small>Room rate</small><br> {{room.Currency}} {{room.RoomRate}}
                                            </p>
                                        </div>
                                        <div class="col-lg-2 kt-margin-bottom-20-mobile">
                                            <p>
                                                <small>Extra Bed</small><br> {{room.Currency}} {{room.ExtraBedRate}}
                                            </p>
                                        </div>
                                        <div class="col-lg-2 kt-margin-bottom-20-mobile">
                                            <p>
                                                <small>Child w/b</small><br> {{room.Currency}}
                                                {{room.RateChildWithBed}}
                                            </p>
                                        </div>
                                        <div class="col-lg-2 kt-margin-bottom-20-mobile">
                                            <p>
                                                <small>Child wo/b</small><br> {{room.Currency}}
                                                {{room.RateChildWithoutBed}}
                                            </p>
                                        </div>
                                        <div class="col-lg-3 kt-margin-bottom-20-mobile">
                                            <p>
                                                <small>Total</small><br> {{room.Currency}} {{room.Total}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 kt-margin-bottom-20-mobile"
                                    *ngIf="!room.rateAvailable && room.response">
                                    <div class="row">
                                        <div class="col-lg-3 kt-margin-bottom-20-mobile">
                                            <mat-form-field class="mat-form-field-fluid">
                                                <input matInput [(ngModel)]="room.RoomRate" placeholder="Room rate">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-lg-2 kt-margin-bottom-20-mobile">
                                            <mat-form-field class="mat-form-field-fluid">
                                                <input matInput [(ngModel)]="room.ExtraBedRate" placeholder="Extra Bed">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-lg-2 kt-margin-bottom-20-mobile">
                                            <mat-form-field class="mat-form-field-fluid">
                                                <input matInput [(ngModel)]="room.RateChildWithBed"
                                                    placeholder="Child w/b">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-lg-3 kt-margin-bottom-20-mobile">
                                            <mat-form-field class="mat-form-field-fluid">
                                                <input matInput [(ngModel)]="room.RateChildWithoutBed"
                                                    placeholder="Child wo/b">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-lg-2 kt-margin-bottom-20-mobile">
                                            <mat-form-field class="mat-form-field-fluid">
                                                <input matInput [(ngModel)]="room.Total" placeholder="Total">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row" *ngIf="room._child.length">
                                <div class="col-lg-2 kt-margin-bottom-20-mobile">
                                    <br>
                                    <label class="font-10"> Child Ages</label>
                                </div>
                                <div class="col-lg-2 kt-margin-bottom-20-mobile"
                                    *ngFor="let c of room._child ; let i=index">
                                    <mat-form-field class="mat-form-field-fluid">
                                        <mat-select placeholder="Child {{i+1}}" [(ngModel)]="c.age">
                                            <mat-option>Select Child {{i+1}} Age</mat-option>
                                            <mat-option [value]="age" *ngFor="let age of ages">{{age}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group kt-form__group row padding-top">
                        <div class="col-lg-12">
                            <div class="example-button-row" style="float: right;">
                                <button mat-raised-button color="primary" [class.spinner]="loading" [disabled]="loading"
                                    *ngIf="!Response" (click)="onSearch(l)">
                                    Search now
                                </button>
                                <button mat-raised-button color="accent" *ngIf="Response"
                                    (click)="onAddToQuote(h, l)">Add to quote</button>
                                <button mat-raised-button color="warn" *ngIf="Response" (click)="Modify()">Modify
                                    search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </kt-portlet-body>
</kt-portlet>