<div *ngIf="bShowLead" class="kt-subheader kt-grid__item" [ngClass]="{'kt-container--clear': clear}" id="kt_subheader">
    <div class="kt-container" [ngClass]="{'kt-container--fluid': fluid}">
        <div class="kt-subheader__main">
            <p *ngIf="lead.CustomerId===0">
                <span class="quote-text">
                    Quote to :
                </span>
                {{lead.PackageTitle}}
            </p>
            <p *ngIf="lead.CustomerId!==0">
                <span class="quote-text">
                    Quote to :
                </span>
                {{lead.CustomerId}}
            </p>
            &nbsp;
            <p><span class="quote-text">Title :</span> {{lead.PackageTitle}} </p>
            &nbsp;
            <p><span class="quote-text">Nationality :</span> {{nationality}}</p> &nbsp;
            <p><span class="quote-text">Destination :</span> {{destination}}</p> &nbsp;
            <p><span class="quote-text">Travellers :</span> {{traveller}} </p> &nbsp;
            <!-- <h6>Query : <small>Some Text</small> </h6>&nbsp;
            <h6>Purpose : <small>Any </small> </h6>&nbsp;
            <h6>Assigned To : <small>liyaqat</small> </h6> -->
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <p>
                    <span class="quote-text">
                        Currency :
                    </span>
                    {{lead.Currency}}
                </p>
            </div>
        </div>
    </div>
</div>
<!-- <kt-subheader1 *ngIf="!layout || layout === 'subheader-v1'" [fluid]="fluid" [clear]="clear"></kt-subheader1>
<kt-subheader2 *ngIf="layout === 'subheader-v2'" [fluid]="fluid" [clear]="clear"></kt-subheader2>
<kt-subheader3 *ngIf="layout === 'subheader-v3'" [fluid]="fluid" [clear]="clear"></kt-subheader3> -->